<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>reef_placeholder</string>
	<key>SUFeedURL</key>
	<string>https://gouwsxander.github.io/Reef/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ZbMve8wfUSQghxEPXBhrQsQlI0zlkswHqeUJD1B0lFc=</string>
</dict>
</plist>
